.paginationDiv {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.paginationDiv button {
    display: block;
    height: 35px;
    width: 200px;
    background-color: darkgrey;
    border: 1px solid black;
    transition: 0.3s;
    margin-bottom: 15px;
}

.paginationDiv button:hover {
    background-color: #8a8989;
    transition: 0.3s;
}
